cat > .gitignore <<EOF
# ignore everything by default
*

# allow directories so git can recurse into them
!*/

# unignore this .gitignore and README
!.gitignore
!install_win.bat
!install_mac.sh
!README.md

# include all Python source files
!*.py
!**/*.py
EOF